[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
beautifulsoup4 = "*"
youtube-dl = "*"
requests = "*"
html5lib = "*"
pytest = "*"
six = "*"
pywebcopy = "*"

[requires]
python_version = "3.7"
